.resume {
    margin: 0 auto;
    /*color: #000000;*/
    font-family: 黑体;
    text-align: center;
}

.avatar {
    margin: 0 auto;
    display: block;
    width: 150px;
    height: auto;
    padding: 10px 0;
    border-radius: 100%;
}

#name {
    padding: 5px 0;
    font-weight: bold;
    font-size: 17px;
}

#situation {
    font-weight: bold;
    font-size: 17px;
    padding: 5px 0;
}

.links {
    padding: 5px 5px;
}

.links a {
    padding: 0 6px;
}

.skills {
    padding: 5px 0;
    font-weight: bold;
    font-size: 80%;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.skill-php {
    margin: 0 0.1em;
    padding: 0.1em 0.5em;
    border-radius: 50px;
    border: 2px solid #8791be;
    color: #8791be;
    background: #fff;
}

.skill-php:hover {
    color: #fff;
    background-color: #8791be;
    border: 2px solid #8791be;
}